.nice-product-page {
  padding: 5px;
  border: 1px solid #ddd;
  -moz-box-shadow: 8px 5px 10px 2px #CFDDFF;
  -webkit-box-shadow: 8px 5px 10px 2px #CFDDFF;
  box-shadow: 8px 5px 10px 2px #CFDDFF;
}
